src/conf/xml-resources/web-service-references/RouletteWebServiceService/wsdl/RouletteWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://roulette.ws/" name="RouletteWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://roulette.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://roulette.ws/" schemaLocation="RouletteWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEvents">
    <part name="parameters" element="tns:getEvents"/>
  </message>
  <message name="getEventsResponse">
    <part name="parameters" element="tns:getEventsResponse"/>
  </message>
  <message name="InvalidParameters">
    <part name="fault" element="tns:InvalidParameters"/>
  </message>
  <message name="createGame">
    <part name="parameters" element="tns:createGame"/>
  </message>
  <message name="createGameResponse">
    <part name="parameters" element="tns:createGameResponse"/>
  </message>
  <message name="DuplicateGameName">
    <part name="fault" element="tns:DuplicateGameName"/>
  </message>
  <message name="getGameDetails">
    <part name="parameters" element="tns:getGameDetails"/>
  </message>
  <message name="getGameDetailsResponse">
    <part name="parameters" element="tns:getGameDetailsResponse"/>
  </message>
  <message name="GameDoesNotExists">
    <part name="fault" element="tns:GameDoesNotExists"/>
  </message>
  <message name="getWaitingGames">
    <part name="parameters" element="tns:getWaitingGames"/>
  </message>
  <message name="getWaitingGamesResponse">
    <part name="parameters" element="tns:getWaitingGamesResponse"/>
  </message>
  <message name="joinGame">
    <part name="parameters" element="tns:joinGame"/>
  </message>
  <message name="joinGameResponse">
    <part name="parameters" element="tns:joinGameResponse"/>
  </message>
  <message name="getPlayerDetails">
    <part name="parameters" element="tns:getPlayerDetails"/>
  </message>
  <message name="getPlayerDetailsResponse">
    <part name="parameters" element="tns:getPlayerDetailsResponse"/>
  </message>
  <message name="makeBet">
    <part name="parameters" element="tns:makeBet"/>
  </message>
  <message name="makeBetResponse">
    <part name="parameters" element="tns:makeBetResponse"/>
  </message>
  <message name="finishBetting">
    <part name="parameters" element="tns:finishBetting"/>
  </message>
  <message name="finishBettingResponse">
    <part name="parameters" element="tns:finishBettingResponse"/>
  </message>
  <message name="resign">
    <part name="parameters" element="tns:resign"/>
  </message>
  <message name="resignResponse">
    <part name="parameters" element="tns:resignResponse"/>
  </message>
  <message name="createGameFromXML">
    <part name="parameters" element="tns:createGameFromXML"/>
  </message>
  <message name="createGameFromXMLResponse">
    <part name="parameters" element="tns:createGameFromXMLResponse"/>
  </message>
  <message name="InvalidXML">
    <part name="fault" element="tns:InvalidXML"/>
  </message>
  <message name="getPlayersDetails">
    <part name="parameters" element="tns:getPlayersDetails"/>
  </message>
  <message name="getPlayersDetailsResponse">
    <part name="parameters" element="tns:getPlayersDetailsResponse"/>
  </message>
  <portType name="RouletteWebService">
    <operation name="getEvents">
      <input wsam:Action="http://roulette.ws/RouletteWebService/getEventsRequest" message="tns:getEvents"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/getEventsResponse" message="tns:getEventsResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/getEvents/Fault/InvalidParameters"/>
    </operation>
    <operation name="createGame">
      <input wsam:Action="http://roulette.ws/RouletteWebService/createGameRequest" message="tns:createGame"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/createGameResponse" message="tns:createGameResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://roulette.ws/RouletteWebService/createGame/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/createGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="getGameDetails">
      <input wsam:Action="http://roulette.ws/RouletteWebService/getGameDetailsRequest" message="tns:getGameDetails"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/getGameDetailsResponse" message="tns:getGameDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://roulette.ws/RouletteWebService/getGameDetails/Fault/GameDoesNotExists"/>
    </operation>
    <operation name="getWaitingGames">
      <input wsam:Action="http://roulette.ws/RouletteWebService/getWaitingGamesRequest" message="tns:getWaitingGames"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/getWaitingGamesResponse" message="tns:getWaitingGamesResponse"/>
    </operation>
    <operation name="joinGame">
      <input wsam:Action="http://roulette.ws/RouletteWebService/joinGameRequest" message="tns:joinGame"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/joinGameResponse" message="tns:joinGameResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://roulette.ws/RouletteWebService/joinGame/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/joinGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="getPlayerDetails">
      <input wsam:Action="http://roulette.ws/RouletteWebService/getPlayerDetailsRequest" message="tns:getPlayerDetails"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/getPlayerDetailsResponse" message="tns:getPlayerDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://roulette.ws/RouletteWebService/getPlayerDetails/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/getPlayerDetails/Fault/InvalidParameters"/>
    </operation>
    <operation name="makeBet">
      <input wsam:Action="http://roulette.ws/RouletteWebService/makeBetRequest" message="tns:makeBet"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/makeBetResponse" message="tns:makeBetResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/makeBet/Fault/InvalidParameters"/>
    </operation>
    <operation name="finishBetting">
      <input wsam:Action="http://roulette.ws/RouletteWebService/finishBettingRequest" message="tns:finishBetting"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/finishBettingResponse" message="tns:finishBettingResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/finishBetting/Fault/InvalidParameters"/>
    </operation>
    <operation name="resign">
      <input wsam:Action="http://roulette.ws/RouletteWebService/resignRequest" message="tns:resign"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/resignResponse" message="tns:resignResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/resign/Fault/InvalidParameters"/>
    </operation>
    <operation name="createGameFromXML">
      <input wsam:Action="http://roulette.ws/RouletteWebService/createGameFromXMLRequest" message="tns:createGameFromXML"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/createGameFromXMLResponse" message="tns:createGameFromXMLResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://roulette.ws/RouletteWebService/createGameFromXML/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://roulette.ws/RouletteWebService/createGameFromXML/Fault/InvalidParameters"/>
      <fault message="tns:InvalidXML" name="InvalidXML" wsam:Action="http://roulette.ws/RouletteWebService/createGameFromXML/Fault/InvalidXML"/>
    </operation>
    <operation name="getPlayersDetails">
      <input wsam:Action="http://roulette.ws/RouletteWebService/getPlayersDetailsRequest" message="tns:getPlayersDetails"/>
      <output wsam:Action="http://roulette.ws/RouletteWebService/getPlayersDetailsResponse" message="tns:getPlayersDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://roulette.ws/RouletteWebService/getPlayersDetails/Fault/GameDoesNotExists"/>
    </operation>
  </portType>
  <binding name="RouletteWebServicePortBinding" type="tns:RouletteWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="getGameDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
    <operation name="getWaitingGames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="joinGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlayerDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="makeBet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="finishBetting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="resign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createGameFromXML">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
      <fault name="InvalidXML">
        <soap:fault name="InvalidXML" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlayersDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RouletteWebServiceService">
    <port name="RouletteWebServicePort" binding="tns:RouletteWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

